# This program downloads the cleans Milwaukee Crime data for the purposes of displaying it on a map. Link to data: https://data.milwaukee.gov/dataset/wibr

In [36]:
import pandas as pd
import numpy as np
import string
data_link = 'https://data.milwaukee.gov/dataset/e5feaad3-ee73-418c-b65d-ef810c199390/resource/87843297-a6fa-46d4-ba5d-cb342fb2d3bb/download/wibr.csv'
crime = pd.read_csv(data_link)

In [3]:
crime.head()

,IncidentNum,ReportedDateTime,ReportedYear,ReportedMonth,Location,WeaponUsed,ALD,NSP,POLICE,TRACT,...,Arson,AssaultOffense,Burglary,CriminalDamage,Homicide,LockedVehicle,Robbery,SexOffense,Theft,VehicleTheft
0,191830044,2019-07-02 07:30:00,2019,7,1311 W MADISON ST,OTHER,12.0,16.0,2.0,16400.0,...,0,1,0,0,0,0,0,0,0,0
1,191830035,2019-07-02 05:40:00,2019,7,5228 W CENTER ST,NaN,10.0,5.0,7.0,5900.0,...,0,1,0,0,0,0,0,0,0,0
2,191830032,2019-07-02 04:40:00,2019,7,3607 W MT VERNON AV,NaN,10.0,14.0,3.0,13300.0,...,0,1,0,0,0,0,0,0,0,0
3,191830027,2019-07-02 03:22:00,2019,7,170 S 1ST ST,NaN,12.0,NaN,1.0,187400.0,...,0,0,1,0,0,0,0,0,0,0
4,191830016,2019-07-02 01:34:00,2019,7,3607 W MT VERNON AV,PERSONAL WEAPON,10.0,14.0,3.0,13300.0,...,0,1,0,0,0,0,0,0,0,0

In [14]:
#check to see if the 'IncidentNum' is a unique ID
len(crime) == len(np.unique(crime['IncidentNum']))

False

In [37]:
print(list(crime))

['IncidentNum', 'ReportedDateTime', 'ReportedYear', 'ReportedMonth', 'Location', 'WeaponUsed', 'ALD', 'NSP', 'POLICE', 'TRACT', 'WARD', 'ZIP', 'RoughX', 'RoughY', 'Arson', 'AssaultOffense', 'Burglary', 'CriminalDamage', 'Homicide', 'LockedVehicle', 'Robbery', 'SexOffense', 'Theft', 'VehicleTheft']

In [49]:
just_crimes = crime[['Arson', 'AssaultOffense', 'Burglary', 'CriminalDamage', 
                 'Homicide', 'LockedVehicle', 'Robbery', 'SexOffense', 'Theft', 'VehicleTheft']]
just_crimes = pd.DataFrame({'Crime Type': just_crimes.idxmax(axis=1)})

In [50]:
crimes_info = crime[['IncidentNum', 'ReportedDateTime', 'Location', 'WeaponUsed',
                    'ALD', 'NSP', 'POLICE', 'TRACT', 'WARD', 'ZIP', 'RoughX', 'RoughY']]
new_crimes = crimes_info.join(just_crimes)

In [63]:
new_crimes.head()

,IncidentNum,ReportedDateTime,ReportedYear,ReportedMonth,Location,WeaponUsed,ALD,NSP,POLICE,TRACT,WARD,ZIP,RoughX,RoughY,Crime Type,City,State
0,191830044,2019-07-02 07:30:00,2019,7,1311 W MADISON ST,OTHER,12,16,2,16400,232,53204,2.55407e+06,377920,AssaultOffense,Milwaukee,WI
1,191830035,2019-07-02 05:40:00,2019,7,5228 W CENTER ST,None,10,5,7,5900,163,53210,2.54011e+06,395782,AssaultOffense,Milwaukee,WI
2,191830032,2019-07-02 04:40:00,2019,7,3607 W MT VERNON AV,None,10,14,3,13300,214,53208,2.54568e+06,383423,AssaultOffense,Milwaukee,WI
3,191830027,2019-07-02 03:22:00,2019,7,170 S 1ST ST,None,12,None,1,187400,235,53204,2.55854e+06,382313,Burglary,Milwaukee,WI
4,191830016,2019-07-02 01:34:00,2019,7,3607 W MT VERNON AV,PERSONAL WEAPON,10,14,3,13300,214,53208,2.54568e+06,383423,AssaultOffense,Milwaukee,WI

In [61]:
#adding other geographical information to help with mapping later
new_crimes['City'] = 'Milwaukee'
new_crimes['State'] = 'WI'

In [62]:
#replace NaN with 'None' in'WeaponUsed'
new_crimes = new_crimes.fillna('None')

       Crime Type
0  AssaultOffense
1  AssaultOffense
2  AssaultOffense
3        Burglary
4  AssaultOffense